
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

body, html{
  padding: 0;
  margin: 0;
  font-family: 'EB Garamond', serif;
}

header{
  height: 460px;
  background-image: url("save_the_children_11.jpg");
  background-size: cover;
}
.logo{
  color: #fff;
  font-size: 30px;
  margin-top: 39px;
  text-decoration: none;
}

.div-container{
  display: flex;
  justify-content: space-around;
}
.div-container ul{
  display: flex;
}
/*
.rope{
  font-size: 20px;
}
*/
.div-container a{
  color: white;
  padding: 20px;
  text-decoration: none;
}
.child-container h1{
  text-align: center;
  font-size: 50px;
  color: white;
  margin-top: 50px;
}
.child-container p{
  text-align: center;
  color: white;
  margin-top: 9px;
  font-size: 29px;
}
.child-container a{
  font-size: 25px;
  border-width: 68px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}
.col-sm-12 {
  text-align: center;
}
.col-sm-12 h2{
  margin-top: 30px;
  font-size: 30px;
}
.col-sm-12 p{
  margin-top: 23px;
  font-size: 20px;
}
.can{
  color: orange;
}
.row2{
  max-width: 1024px;
  margin-left: 78px;
  padding: -2820px;
  display: flex;
  margin: auto;
}
.col1 i{
  margin-left: 10px;
}
.col1 h2{
  font-size: 30px;
  margin-left: -100px;
  text-align: center;
}
.col1 p{
  margin-left: 20px;
}
.col2 h2{
  font-size: 30px;
  padding-left: 10px;
  margin-left:49px;
  text-align: center;
}
.col2 p{
  margin-left: 90px;
}
.col2 i{
  margin-left: 20px;
}
.col3 p{
  margin-top: 20px;
  padding-left: 150px;
}

.col3 i{
  margin-top: 30px;
}
.col3 h2{
  margin-top: 9px;
  font-size: 30px;
  text-align: center;
}
.class1{
  background-color: #fafafa;
  height: 390px;
  margin-top: 43px;
}
.bale h3{
  margin-left: 99px;
  font-size: 25px;
}
.pale i{
  margin-left: 99px;
  margin-top: 70px;
  background-color: orange;
  color: white;
  font-size: 40px;
}
.pale p{
  margin-top: 73px;
  font-size: 20px;
}
.pale{
  display: flex;
}
.can1 p{
  font-size: 20px;
  padding-left: 10px;
  margin-top: 93px;
}
.can1 i{
  margin-left: 99px;
  background-color: orange;
  color: white;
  font-size: 40px;
  margin-top: 93px;
}
.can1{
  display: flex;
}
.orange{
  color: orange;
}
.image{
  margin-right: 130px;
  margin-top: -269px;
  float: right;
}
.col-m-12 h2{
  margin-top: 35px;
  font-size: 39px;
  margin-bottom: 20px;
  text-align: center;
}
.col-m-12 p{
  font-size: 25px;
  text-align: center;
}
.managed{
  color: orange;
}
.row3{
  display: flex;
  height: 400px;
  margin-top: 59px;
  margin-left: 100px;
}
.end{
  padding-left: 16px;
}
.ridle{
  padding-left: 16px;
}
.ridle h4 {
  margin-top: 139px;
  font-size: 18px;
}
.ridle h5{
  margin-top: 20px;
  font-size: 26px;
}
.shift h4{
  margin-top: 139px;
  margin-left: 5px;
  font-size: 18px;
}
.ridle a{
  text-decoration: none;
}
.ridle p{
  margin-top: 9px;
  padding-bottom: 20px;
}
.shift p{
  margin-left: 6px;
  margin-top: 9px;
  padding-bottom: 20px;
}
.shift h5{
  margin-left: 6px;
  margin-top: 20px;
  font-size: 26px;
}
.shift a{
  margin-left: 90px;
  margin-top: 50px;
  text-decoration: none;
}
.shift img{
  margin-left: 85px;
}
.dollar{
  color: orange;
}
.end h4{
  margin-top: 139px;
  margin-left: -16;
  font-size: 18px;
}
.end h5{
  margin-left: -16px;
  margin-top: 20px;
  font-size: 26px;
}
.end  p{
  margin-left: 6px;
  margin-top: 9px;
  padding-bottom: 20px;
}
.end img{
  padding-left: 9px;
}
.row3 a{
  border-radius: 6px;
  color: white;
  text-align: center;
  background-color: orange;
  margin-left: 100px;
  text-decoration: none;
  text-align: center;
}
.shift{
  background: linear-gradient(to top, rgba(60, 60, 60, 0.1), rgba(60, 60, 60, 0.1)), url(abigail-keenan-27292-unsplash.jpg);
  background-size: cover;
  margin-left: 60px;
  height: 200px;
  width: 299px;
}
.ridle{
  background: linear-gradient(to top, rgba(60, 60, 60, 0.1), rgba(60, 60, 60, 0.1)), url(doug-linstedt-135670-unsplash.jpg);
  background-size: cover;
  margin-left: 20px;
  height: 200px;
}
.end{
  background: linear-gradient(to top, rgba(60, 60, 60, 0.1), rgba(60, 60, 60, 0.1)), url(children-kids-people-1102609.jpg);
  margin-left: 20px;
  padding-left: 18px;
  background-size: cover;
  height: 200px;
}
.again p{
  border: 5px solid orange;
  padding-left: 10px;
  margin-left: 240px;
  border-radius: 35px;
  height: 26px;
  color: white;
  width: 30px;
  background-color: orange;
}
.make p{
  border: 5px solid orange;
  padding-left: 10px;
  margin-left: 210px;
  border-radius: 35px;
  height: 26px;
  color: white;
  width: 30px;
  background-color: orange;
}
.born p{
  border: 5px solid orange;
  padding-left: 10px;
  margin-left: 240px;
  border-radius: 35px;
  height: 26px;
  color: white;
  width: 30px;
  background-color: orange;
}
